# Environment Variables Example for LinkHub
DATABASE_URL="file:./dev.db"
JWT_SECRET="replace-with-a-secure-random-32-char-jwt-secret-key"
NEXT_PUBLIC_APP_URL="https://mr-mobin-link.vercel.app"

# Firebase Client Configuration (Included in src/lib/firebase.ts)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCTyfCaMy7iFJuxWVDH4whS-LOmpE6lGdM"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="mr-linkhub.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="mr-linkhub"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="mr-linkhub.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="591212086930"
NEXT_PUBLIC_FIREBASE_APP_ID="1:591212086930:web:13c3884cc19647e106c84b"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-GQZ6H7CG6S"
