DATABASE_URL="file:./dev.db"
JWT_SECRET="your-secure-jwt-secret-key-32-chars-long"
NEXT_PUBLIC_APP_URL="https://linkhub.yourdomain.com"

# Firebase Client SDK Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDVS6ViOQa1q79tMCMv8HGOsap0_5_o_BU"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="mister-linkhub-app.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="mister-linkhub-app"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="mister-linkhub-app.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="1096842122292"
NEXT_PUBLIC_FIREBASE_APP_ID="1:1096842122292:web:08b2bdd531ede1f866e661"
